<template>
  <div
    class="theme-container"
    :class="pageClasses"
    @touchstart="onTouchStart"
    @touchend="onTouchEnd"
  >
    <Navbar v-if="shouldShowNavbar" @toggle-sidebar="toggleSidebar" />

    <div class="sidebar-mask" @click="toggleSidebar(false)"></div>

    <Sidebar :items="sidebarItems" @toggle-sidebar="toggleSidebar">
      <slot name="sidebar-top" slot="top" />
      <slot name="sidebar-bottom" slot="bottom" />
    </Sidebar>

    <Blog v-if="$page.frontmatter.blog" :sidebar-items="sidebarItems" />

    <div class="custom-layout" v-else-if="$page.frontmatter.layout">
      <component :is="$page.frontmatter.layout" />
    </div>

    <Home v-else-if="$page.frontmatter.home" />

    <Page v-else :sidebar-items="sidebarItems">
      <slot name="page-top" slot="top" />
      <slot name="page-bottom" slot="bottom" />
    </Page>

    <div class="footer">
      <h3 style="padding-bottom: 1em;">
        Follow me on
        <a href="https://twitter.com/olearycrew">
          Twitter
          <i class="fab fa-twitter"></i> </a
        >,
        <a href="https://twitch.tv/olearycrew">
          Twitch
          <i class="fab fa-twitch"></i> </a
        >,
        <a href="https://linkedin.com/in/olearycrew">
          LinkedIn
          <i class="fab fa-linkedin"></i>
        </a>
      </h3>
      <span v-if="pagedata.footer">
        {{ pagedata.footer }}
        <br />
        <br />
      </span>
      ©️ {{thisYear}}
      <a href="https://twitter.com/olearycrew" target="_blank"
        >Brendan O'Leary</a
      > | Made with ❤️ in Maryland
      <br />
      <br />
      <small>
        Note: The views expressed on this site are my own personal views and do not represent the opinions <br/>
        of any entity whatsover which I have been, am now, or will be affiliated.
      </small>
      <br />
      <br />
      <a href="/code-of-conduct/">Code of Conduct</a>
    </div>

    <SWUpdatePopup :updateEvent="swUpdateEvent" />
  </div>
</template>

<script>
import Vue from "vue";
import nprogress from "nprogress";
import Blog from "./layout/Blog.vue";
import Home from "./layout/Home.vue";
import Page from "./layout/Page.vue";
import Full from "./layout/Full.vue";
import Talks from './layout/Talks.vue'
import Navbar from "./components/Navbar.vue";
import Sidebar from "./components/Sidebar.vue";
import SWUpdatePopup from "./components/SWUpdatePopup.vue";
import { resolveSidebarItems } from "./util";

export default {
  components: {
    Blog,
    Home,
    Page,
    Sidebar,
    Navbar,
    SWUpdatePopup,
    Full,
    Talks,
  },

  data() {
    return {
      isSidebarOpen: false,
      swUpdateEvent: null,
      thisYear: new Date().getFullYear(),
    };
  },

  computed: {
    pagedata() {
      return this.$page.frontmatter;
    },
    shouldShowNavbar() {
      const { themeConfig } = this.$site;
      const { frontmatter } = this.$page;
      if (frontmatter.navbar === false || themeConfig.navbar === false) {
        return false;
      }
      return (
        this.$title ||
        themeConfig.logo ||
        themeConfig.repo ||
        themeConfig.nav ||
        this.$themeLocaleConfig.nav
      );
    },

    shouldShowSidebar() {
      const { frontmatter } = this.$page;
      return (
        !frontmatter.layout &&
        !frontmatter.home &&
        frontmatter.sidebar !== false &&
        this.sidebarItems.length
      );
    },

    sidebarItems() {
      return resolveSidebarItems(
        this.$page,
        this.$route,
        this.$site,
        this.$localePath
      );
    },

    pageClasses() {
      const userPageClass = this.$page.frontmatter.pageClass;
      return [
        {
          "no-navbar": !this.shouldShowNavbar,
          "sidebar-open": this.isSidebarOpen,
          "no-sidebar": !this.shouldShowSidebar,
        },
        userPageClass,
      ];
    },
  },

  mounted() {
    window.addEventListener("scroll", this.onScroll);

    // configure progress bar
    nprogress.configure({ showSpinner: false });

    this.$router.beforeEach((to, from, next) => {
      if (to.path !== from.path && !Vue.component(to.name)) {
        nprogress.start();
      }
      next();
    });

    this.$router.afterEach(() => {
      nprogress.done();
      this.isSidebarOpen = false;
    });

    this.$on("sw-updated", this.onSWUpdated);
  },

  methods: {
    toggleSidebar(to) {
      this.isSidebarOpen = typeof to === "boolean" ? to : !this.isSidebarOpen;
    },

    // side swipe
    onTouchStart(e) {
      this.touchStart = {
        x: e.changedTouches[0].clientX,
        y: e.changedTouches[0].clientY,
      };
    },

    onTouchEnd(e) {
      const dx = e.changedTouches[0].clientX - this.touchStart.x;
      const dy = e.changedTouches[0].clientY - this.touchStart.y;
      if (Math.abs(dx) > Math.abs(dy) && Math.abs(dx) > 40) {
        if (dx > 0 && this.touchStart.x <= 80) {
          this.toggleSidebar(true);
        } else {
          this.toggleSidebar(false);
        }
      }
    },

    onSWUpdated(e) {
      this.swUpdateEvent = e;
    },
  },
};
</script>

<style src="prismjs/themes/prism-tomorrow.css"></style>
<style src="./styles/theme.styl" lang="stylus"></style>
<style src="./styles/all.min.css"></style>
<style src="./styles/animation.css"></style>
<style src="./styles/box.css"></style>
