<template>
  <div class>
    <p class="fade" v-show="currLen ==='short'">{{ bio['short'] }}</p>
    <p class="fade" v-show="currLen ==='medium'">{{ bio['medium'] }}</p>
    <p class="fade" v-show="currLen ==='long'">{{ bio['long'] }}</p>
    <p class="fade" v-show="currLen ==='lifestory'">{{ bio['lifestory'] }}</p>
    <div v-if="showBtns" class="text-center">
      <small style="vertical-align: middle;">Short</small>
      <span
        class="fa-stack clickable"
        style="vertical-align: top;"
        @click="randomShort(); currLen = 'short'"
      >
        <i class="far fa-circle fa-stack-2x"></i>
        <i class="fas fa-circle fa-stack-1x fade" :class="{ hideit: !(currLen === 'short') }"></i>
      </span>
      <span class="fa-stack clickable" style="vertical-align: top;" @click="currLen = 'medium'">
        <i class="far fa-circle fa-stack-2x"></i>
        <i class="fas fa-circle fa-stack-1x fade" :class="{ hideit: !(currLen === 'medium') }"></i>
      </span>
      <span class="fa-stack clickable" style="vertical-align: top;" @click="currLen = 'long'">
        <i class="far fa-circle fa-stack-2x"></i>
        <i class="fas fa-circle fa-stack-1x fade" :class="{ hideit: !(currLen === 'long') }"></i>
      </span>
      <span class="fa-stack clickable" style="vertical-align: top;" @click="currLen = 'lifestory'">
        <i class="far fa-circle fa-stack-2x"></i>
        <i class="fas fa-circle fa-stack-1x fade" :class="{ hideit: !(currLen === 'lifestory') }"></i>
      </span>
      <small style="vertical-align: middle;">Long</small>
    </div>
  </div>
</template>

<style scoped>
.hideit {
  display: none;
}

.fade {
  animation: fadein 0.4s ease-in;
}

@keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}
</style>

<script lang="ts">
import Vue from "vue";

const shorts = [
  "Brendan did his best.",
  "Brendan believes everyone can contribute.",
  "Brendan is a gif expert.",
  "Brendan knows enough to be dangerous.",
  "Brendan is waiting for Brendan (Taylor's Version)",
  "Brendan belongs to Houses Hufflepuff & Pfizer",
  "Brendan is a 1x developer and a 4x dad 🧒🏻👧🏼🧒🏻👧🏼"
];

export default Vue.extend({
  data() {
    const short = shorts[Math.floor(Math.random() * shorts.length)];
    return {
      currLen: "",
      bio: {
        short,
        medium:
          "Brendan O'Leary is a Senior Developer Evangelist for GitLab who connects with developers, contributes to open source projects, and shares his work with about cutting-edge technologies on conference panels, meetups, in contributed articles and on blogs.",
        long:
          "Brendan O'Leary is a Senior Developer Evangelist at GitLab, the first single application for the DevSecOps lifecycle as well as a governing board member at the Cloud Native Computing Foundation and advisor to various startups. He has a passion for software development and iterating on processes just as quickly as we iterate on code. Working with customers to deliver value is what drives Brendan's passion for DevOps and smooth CI/CD implementation. Brendan has worked with a wide range of customers - from the nation's top healthcare institutions to environmental services companies to the Department of Defense. Outside of work, you'll find Brendan with 1 to 4 kids hanging off of him at any given time or occasionally finding a moment alone to build something in his workshop.",
        lifestory:
          "Brendan O'Leary is a Senior Developer Evangelist at GitLab, the first single application for the DevSecOps lifecycle as well as a governing board member at the Cloud Native Computing Foundation and advisor to various startups. That means he connects with developers, contributes to open source projects, and shares his work with about cutting-edge technologies on conference panels, meetups, in contributed articles and on blogs. He has a passion for software development and iterating on processes just as quickly as we iterate on code. Working with customers to deliver value is what drives Brendan's passion for DevOps and smooth CI/CD implementation. Brendan has worked with a wide range of customers - from the nation's top healthcare institutions to environmental services companies to the Department of Defense. Outside of work, you'll find Brendan with 1 to 4 kids hanging off of him at any given time or occasionally finding a moment alone to build something in his workshop.",
      },
    };
  },
  props: {
    len: {
      type: String,
      default: "medium",
    },
    showBtns: {
      type: Boolean,
      default: true,
    },
  },
  mounted() {
    this.setLen(this.len);
  },
  methods: {
    randomShort() {
      this.bio.short = shorts[Math.floor(Math.random() * shorts.length)];
    },
    setLen(len) {
      this.currLen = len;
    },
  },
});
</script>
