<template>
<div class="cards">
    <div class="card">
        <blockquote>
            Take care of the people, the products, and the profits - in that order
            <br/><br/>
            <i>Ben Horowitz</i>
        </blockquote>
    </div>
    <div class="card">
        <blockquote>
            ...no choice but to be pioneers; no time to be beginners.
            <br/><br/>
            <i>Margaret Hamilton</i>
        </blockquote>
    </div>
    <div class="card">
        <blockquote>
            Make something people want 
            <br/><br/>
            <i>Paul Graham</i>
        </blockquote>
    </div>
    <div class="card">
        <blockquote>
            Listen to your customers, not your competitors 
            <br/><br/>
            <i>Joel Spolsky</i>
        </blockquote>
    </div>
    <div class="card">
        <blockquote>
            You don't manage people, you manage things. You lead people.
            <br/><br/>
            <i>Grace Hopper</i>
        </blockquote>
    </div>
    <div class="card">
        <blockquote>
            If you look after truth and goodness, beauty looks after herself. 
            <br/><br/>
            <i>Eric Gill</i>
        </blockquote>
    </div>
    <div class="card">
        <blockquote>
            A lot of times, people don't know what they want until you show it to them. 
            <br/><br/>
            <i>Steve Jobs</i>
        </blockquote>
    </div>
    <div class="card">
        <blockquote>
            Innovation is saying no to a thousand things. 
            <br/><br/>
            <i>Steve Jobs</i>
        </blockquote>
    </div>
    <div class="card">
        <blockquote>
            Useless is not worthless. 
            <br/><br/>
            <i>Charlie Gerard</i>
        </blockquote>
    </div>
</div>
</template>

<script>
export default {
    name: 'QuotesList'
}
</script>
